.project_header {
  position: relative;
  height: 15vw;
  min-height: 6em;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  border-bottom: 5px solid #00d5d6;
}

.project_header-title {
  font-size: 4em;
  position: relative;
  z-index: 1;
  font-weight: 600;
  color: white;
  text-shadow: 0 0 2px #142d4c, 0 0 2px #142d4c, 0 0 2px #142d4c, 0 0 2px #142d4c, 0 0 2px #142d4c, 0 0 2px #142d4c, 0 0 2px #142d4c, 0 0 2px #142d4c, 0 0 2px #142d4c, 0 0 2px #142d4c, 0 0 2px #142d4c, 0 0 2px #142d4c, 0 0 15px #142d4c;
}

.project_header-background {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  filter: blur(20px);
  background-blend-mode: luminosity;
  background-color: #142d4c;
}

.project_body {
  margin-top: 50px;
}

.project_body-main {
  display: flex;
}

.project_body-main-image {
  width: 35%;
  flex-shrink: 0;
  padding: 0 15px;
}

.project_body-main-image img {
  width: 100%;
  margin-top: .5em;
}

.project_body-main-text {
  flex-grow: 1;
}

.project_body-main-context {
  color: whitesmoke;
  padding: 0 15px;
  line-height: 1.5em;
  font-size: 1.1em;
}

.project_body-main-info {
  margin: 40px 15px 0 0;
  padding: 15px 0 0 40px;
  float: right;
  border-top: 2px solid #385170;
  color: #e8e8e8;
  line-height: 1.5em;
  text-align: right;
}

.project_plug {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 60px);
}

.project_plug-load {
  position: relative;
  width: 4em;
  height: 4em;
  border: 1em solid #00d5d6;
  border-radius: 50%;
  border-left-color: transparent;
  border-right-color: transparent;
  animation: rotate 1.5s linear infinite;
}

.project_plug-load::after {
  content: "";
  position: absolute;
  height: 4em;
  width: 4em;
  top: -2em;
  left: -2em;
  border: 1em solid #00d5d6;
  border-radius: 50%;
  border-top-color: transparent;
  border-bottom-color: transparent;
  animation: aRotate 1.5s linear infinite;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes aRotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(-720deg);
  }
}

.project_plug-error-text {
  font-size: 5em;
  font-weight: 600;
  color: #00d5d6;
  text-shadow: 0 20px 0 #38517078;
}

.project_plug-error-button {
  color: whitesmoke;
  margin: 25px auto;
  padding: 12px 20px;
  background: transparent;
  border-radius: 40px;
  border: 2px solid #00bfec;
  transition: all .125s;
  display: inline-flex;
  align-items: center;
}

.project_plug-error-button:hover {
  background: rgba(27, 40, 56, 0.5);
  border-color: #00d6d7;
}

.project_plug-error-button i {
  margin-right: 10px;
}